.App {
  text-align: center;
}

.disable-click{
  pointer-events: none;
}

.btun{
  position: relative;
  top: 5rem;
}

h1{
  display: inline-block;
}
.geektrust{
  float: right;
  margin: 2rem 2rem 2rem 0;
}

.col-xs-10{
  height: 20rem;
}